{{> header}}

<div id="four-o-four-big-div">

    <div>
        <h1 id="error-status" style="background-color: ;">404</h1>
    </div>
    <div>
        <p style="text-align: center;font-size: 22px;">It seems that the page you are looking for 
        can't be found on our server. <br> <br> You can go to the</p>
        <p style="text-align: center;"><a href="/" id="homepage-error">HOMEPAGE</a></p>
    </div>

</div>

{{> footer}}