{{> header}}

{{#if success_messages}}
<h3 style="color: green;text-align: center;">{{success_messages}}</h3>
{{/if}}
{{#if error_messages}}
<h3 style="color: red;text-align: center;">{{error_messages}}</h3>
{{/if}}
{{#if orange_message}}
<h3 style="color: orange;text-align: center;">{{orange_message}}</h3>
{{/if}}



<div id="login-box" class="two_fact_auth" >
  <div class="left">
    <h1>Forgot Password</h1>
    <p>Enter your email below</p>
    <form action="/users/forgot-password-email?_csrf={{_csrf}}" method="POST" style="margin-bottom: 20px;">
      <input type="email" name="reset_password_email" placeholder="Email" required id="reset_password_email" autocomplete="off"  />
      <input type="submit" name="send_email_reset_password_link" value="Reset Password Link" />
      </form>
      <a href="/login" style="color: white;">Back to login</a>
  </div>
</div>

{{> footer}}