
{{> header}}

<div id="homepage-big-div">
    <div class="homepage-sub-div">{{> navbar}}</div>
    <div class="homepage-sub-div">{{> popular}}</div>
    <div class="homepage-sub-div" id="friends-div">{{> followers}}</div>
</div>

{{> footer}} 