
{{> header}}

{{#if success_messages}}
<h3 style="color: green;text-align: center;">{{success_messages}}</h3>
{{/if}}
{{#if error_messages}}
<h3 style="color: red;text-align: center;">{{error_messages}}</h3>
{{/if}}
{{#if unfollow_message}}
<h3 style="color: rgb(235, 57, 57);text-align: center;">{{unfollow_message}}</h3>
{{/if}}

<div id="homepage-big-div">
    <div class="homepage-sub-div">{{> navbar}}</div>
    <div class="homepage-sub-div">{{> userPendingPosts}}</div>
    <div class="homepage-sub-div" id="friends-div">{{> followers}}</div>
</div>

{{> footer}} 