<div style="text-align: center;margin-bottom: 20px;">
    <h1>Public Chat</h1>
    <p>Hi welcome to public chat where you can exchange messages with all users!</p>
</div>

<div id="public-chat-big-div">
   <div id="messages-div">
    <ul id="messages">
    </ul>
    </div> 
    <div>
         <p id="isTypingMessage">Chat</p>
        <form id="formPublicChat" action="">
            <input id="inputName" autocomplete="off" value="{{loggedUser.firstName}}" type="hidden" readonly />
            <input id="inputMessage" autocomplete="off" placeholder="Your message" />
            <button>Send</button>
        </form>
    </div>
</div>